* {
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes  topo {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#container {
    margin: 10px;
}
#topo {
    height: 10em;
    width: 30em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: flexbox;
    justify-content: center;
    text-align: center;
    border-radius: 20px 90px;
    box-sizing: border-box;
    padding: 16px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    animation: topo 5s infinite alternate;
    transition: transform 1s ease-in-out;
}
#logo {
    font-weight: bold;
    font-size: 3em;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
}
/* Radial Gradient */
.radial-gradient {
    background: radial-gradient(circle, #6fbe7f, #4cae6d, #3a9c5e, #2f794d, #246b3d);
}
.linear-gradient {
    background: linear-gradient(to bottom, #6fbe7f, #246b3d);
}
#topo:hover {
        transform: scale(1.1);
    }
.links {
    border-radius: 10px;
    background: linear-gradient(to bottom, #6fbe7f, #246b3d);
    width: 90px;
    height: 40px;
    padding: 11px;
    box-sizing: border-box;
    text-align: center;
    transition: transform 1s ease-in-out;
    margin-left: 10px;
}
a {
    text-decoration: none;
    font-weight: bold;
}
.links:hover {
    transform: scale(1.1);
}