#pg3 {
    background-color: #57aeee;
    width: 100%;
    height: 700px;
    margin: 70px 0;
}
.porque {
    height: 100%;
    width: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.porque h1 {
    font-size: 2.6em;
}
.porque h2 {
    color: #165199;
    margin: 10px 0 20px 0;
}
.motivos {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.umMotivo {
    background-color: #eeecea;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 400px;
    height: 400px;
}
.porque .fa-solid {
    transform: scale(2.3);
    margin: 15px;
}
.umMotivo:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.3);
}
/* responsividade */
@media screen and (max-width: 1300px) {
    #pg3 {
        height: 1500px;
    }
    .motivos {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .umMotivo {
        width: 350px;
        height: 300px;
        margin: 0;
    }
    .umMotivo p {
        font-size: 14px;
    }
    .umMotivo .fa-solid {
        font-size: 15px;
        margin: 0 0 5px 5px;
    }
    .porque h2 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .porque {
        padding: 50px;
    }
}